body{
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    background-color: rgb(178, 178, 178);
}
.menu-container{
    display: flex;
    /* position: fixed */
    background-color: white;
    color: black;
    top:0;
    transition: ease-in;
    width: 100%;
    height: 4em;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 4px 2px;
    position: fixed;
    z-index: 5;
}

.book , .menu{
    padding: 2em;
}

.book >button, .menu>button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbar-items{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: rgb(211, 218, 218,0.4); */
}

a{
    display: inline-block;
    position: relative;
  }
  
a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #848484;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
  }
  
a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  li >a{
    text-decoration: none;
    color: rgba(26, 25, 25, 0.6);
    font-weight:lighter;
}
/* li >a:hover{
    background-color: rgb(245, 250, 255,0.4);
} */
li >a:active{
    background-color: rgb(118, 106, 106);
}

li{
    list-style: none;
    flex: 1;
    font-size: 2em;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    padding-left: 20px;
}
main{
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2,35em);
    justify-content: center;
    
}

.details{
    overflow: none;
    width :30em;
    box-shadow: 1px 3px 5px 1px;}
.room-img{
    width:30em;
}

#footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.LOGO{
    width: 50px;
}
h3{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.room-img{
    border-radius: 2vh;
}

.card{
    background: linear-gradient(20deg, #0f0429 8%, rgba(30, 1, 30, 0.648) 100%);
    height: 20vh;
    border-radius: 2vh;
    padding: 4vh;
    margin: 3vh;
    box-shadow: 1px 3px 4px 3px;
    transition:transform 0.5s ease-out;
    
}
.card:hover{
    transform: scale(1.1);
}

.card_title{
    font-size: 4vh;
    font-weight: bold;
    color: rgb(144, 143, 143);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-detail{
    font-size: 3vh;
    color: rgb(144, 143, 143);
    padding-top: 2vh;
}

.get-now{
    display: inline-block;
    /* position: relative; */
    background-image: linear-gradient(180deg, rgb(249, 1, 200) -124.45%, rgba(241, 11, 191, 0.498) 100%);
    backdrop-filter: blur(3px);
    border-radius: 3vh;
    border:none;
    width: 15vh;
    height: 5vh;
    font-size: 2vh;
    cursor: pointer;
    margin-left: 40vh;
}

.get-now:after {
    content: '>>';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform-origin:center;
    transition: transform 0.5s ease-out;
    padding-bottom: 3.5vh;
    padding-left: 7.4vh;
  }
  
.get-now:hover:after {
    transform: scaleX(0.5);
    transform-origin: middle left;
  }

  .top{
    display:none;
    position: absolute;
    text-align: center;
    color: rgba(20, 18, 18, 0.6);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    padding: 4em;
    font-size: 50px;
    align-items: center;
    width: 75%;
    height:50%;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) -124.45%, rgba(217, 217, 217, 0) 100%);
    backdrop-filter: blur(3vh);
    
}
.top:after{
    transition: transform 0.5s ease-out;
}
.navbar-items{
    padding-top: 7vh;
    display:flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* background-color: rgb(211, 218, 218,0.4); */
    align-items: flex-start
}

.top{
    display:none;
    position: fixed;
    text-align: center;
    color: rgba(20, 18, 18, 0.6);
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    padding: 4em;
    font-size: 3vh;
    align-items: center;
    width: 100%;
    height:100%;
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.4) -124.45%, rgba(217, 217, 217, 0) 100%);
    backdrop-filter: blur(3vh);
    z-index: 10;
    
}
.top:after{
    transition: transform 0.5s ease-out;
}
.navbar-items2{
    display:flex;
    flex-direction: column;
    align-items: flex-start
}
